*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parellex-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3)
        rgba(0, 0, 0, 0.8)
    );
    background-image: url('./img/background_2_mini.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 756px) {
    .parellex-header {
       display: none;
    }
  }

.freze{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nume{
    background-color: rgba(0, 0, 0, 0.479);
}