*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    transition: 0.3s;
}
.navbar-brand:hover h4{
    color: #7ab2ff;
}
.navbar-brand span{
    color: #7ab2ff;
    
}
.navbar-brand:hover span{
    color: white;
}
.parellex-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: radial-gradient(#2c3352 #001d9e);

    background-image: url('./img/motor.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.gol{
    height: 0vh;
}*/
.freze{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*.nume{
    background-color: rgba(0, 0, 0, 0.479);
}*/
.cb1{
    background-color: rgba(0, 0, 0, 0.25);
}
.cb2{
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}
.card{
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}
.img-container{
    position: relative;
}
.image{
    opacity: 0.8;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.img-container:hover .image{
    opacity: 1;
}
.cb2:hover{
    background-color: rgba(0, 0, 0, 1);
}
.cb2:hover:hover .image{
    opacity: 1;
}
.map{
    width: 500px;
    min-height: 680px;
}
.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.firma{
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}
h1{
    font-size: 3.5rem;
    
}

@media (max-width: 768px) {
    .parellex-header {
        background-size: contain;
        background-position: center top;
        max-height: 30vh;  
        background-color: rgb(17, 49, 101);
    }
    .gol{
        display: none;}
    .map{
        width: 300px;
        min-height: 450px;
    }
    .firma, h1{
        font-size: calc(1.525rem + 3vw);
    }
    
  }
