*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parellex-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: radial-gradient(#2c3352 #001d9e);

    background-image: url('./img/backgroundi.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.freze{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nume{
    background-color: rgba(0, 0, 0, 0.479);
}









@media only screen and (max-width: 756px) {
    .parellex-header {
        background-image: url('');
        height: 25vh;
       
        background-color: #162460;
    }
  }
